{% extends "base1.html" %}
{% block content %}
{% load history_tags %}
{% load currency_filters %}
{% load reviews_tags %}
{% load staticfiles %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load thumbnail %}
{% load basket_tags %}

    <div style="background-color: #ffffff">
        <div class="container-fluid page">
            <div class="page_inner">
                {% include "partials/alert_messages.html" %}
                <div class="row">
                    {# Render promotions #}
                    {#                    <div id="promotions">#}
                    {#                        {% for promotion in promotions_page %}#}
                    {#                            {% render_promotion promotion %}#}
                    {#                        {% endfor %}#}
                    {#                    </div>#}

                    {# Div exists for AJAX updates to entire content section #}

                    <div class="span5 col-md-5">

                        <!---------------------------IMAGE----------------------------->
                        <div id="wowslider-container1" style="padding-left: 40px">
                            {% include "catalogue/partials/gallery.html" %}
                        </div>
                        <div class="innerwrap vertslider">
                            <!-- Start WOWSlider.com BODY section -->

                            <div id="wowslider-container1">

                                <div class="ws_images">

                                    <ul>

                                        {% for image in all_images %}
                                            <li data-target="#product_gallery" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}">
                                                {% thumbnail image.original "65x55" crop="center" as thumb %}
                                                    <img src="{{ thumb.url }}" alt="{{ product.get_title }}" />
                                                {% endthumbnail %}
                                            </li>
                                        {% endfor %}
                                    </ul>

                                </div>


                            </div>
                            <!-- End WOWSlider.com BODY section -->
                        </div>
                        <!------------------------------------END IMAGE----------------------------------->
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left: 60px; padding-right: 562px">
           {% block product_description %}
        {% if product.description %}
        <div id="product_description" class="sub-header">
            <h3>{% trans "Product Description" %}</h3>
        </div>
        <p>{{ product.description|safe }}</p>
        {% endif %}
    {% endblock %}

    {% block product_info %}
    <div class="sub-header">
        <h3>{% trans "Product Information" %}</h3>
    </div>
    <table class="table table-striped">
        {% if product.upc %}
        <tr>
            <th>{% trans "UPC" %}</th><td>{{ product.upc }}</td>
        </tr>
        {% endif %}
        <tr>
            <th>{% trans "Product Type" %}</th><td>{{ product.get_product_class.name }}</td>
        </tr>

        {% purchase_info_for_product request product as session %}
        {% if session.price.exists %}
            <tr>
                <th>{% trans "Price (excl. tax)" %}</th><td>{{ session.price.excl_tax|currency:session.price.currency }}</td>
            </tr>
            {% if session.price.is_tax_known %}
                <tr>
                    <th>{% trans "Price (incl. tax)" %}</th><td>{{ session.price.incl_tax|currency:session.price.currency }}</td>
                </tr>
                <tr>
                    <th>{% trans "Tax" %}</th><td>{{ session.price.tax|currency:session.price.currency }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>{% trans "Availability" %}</th>
                <td>{{ session.availability.message }}</td>
            </tr>
        {% endif %}
        {% for av in product.attribute_values.all %}
            <tr>
                <th>{{ av.attribute.name }}</th>
                <td>{{ av.value_as_html }}</td>
            </tr>
        {% endfor %}
        {% iffeature "reviews" %}
            <tr>
                <th>{% trans "Number of reviews" %}</th>
                <td>{{ product.num_approved_reviews }}</td>
            </tr>
        {% endiffeature %}
    </table>
    {% endblock %}

    {% iffeature "reviews" %}
        {% block product_review %}
        <section>
            <div id="reviews" class="sub-header">
                {% if product.num_approved_reviews > 3 %}
                    <a href="{% url 'catalogue:reviews-list' product_slug=product.slug product_pk=product.id %}" class="btn pull-right">{% trans "See all reviews" %}</a>
                {% endif %}
                <h3>{% trans "Customer Reviews" %}</h3>
            </div>

            {% if product.num_approved_reviews == 0 %}
                <p>
                    {% if product|is_review_permitted:user %}
                        {% url 'catalogue:reviews-add' product_slug=product.slug product_pk=product.id as add_review_url %}
                            {% blocktrans %}This product does not have any reviews yet -
                            <a href="{{ add_review_url }}#addreview">be the first to write one</a>.
                        {% endblocktrans %}
                    {% else %}
                        {% trans "This product does not have any reviews yet" %}.
                    {% endif %}
                </p>
            {% else %}
                <ol class="list-unstyled review-list">
                    {% for review in product.reviews.approved.all|slice:":3" %}
                        <li>
                        {% include 'catalogue/partials/review.html' %}
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}
        </section>
        {% endblock product_review %}
    {% endiffeature %}

    {% with recommended_products=product.sorted_recommended_products|slice:":6" %}
        {% if recommended_products %}
            <div class="sub-header">
                <h2>{% trans "Recommended items" %}</h2>
            </div>
            <ul class="row">
                {% for product in recommended_products %}
                <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                    {% render_product product %}
                </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

        {% recently_viewed_products current_product=product %}
</div>
    </div>

{% endblock %}
